.Project-container{
    background: transparent;
}

.projects-header{
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371,#FF5F6D );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371,#FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 3px 3px #102b25;
    width: 100%;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:30px;
    color:white;
}
.projects-button{
    width: 115px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto 10px auto;
    background: #FF5F6D;
    border: white;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    transition: box-shadow, 0.5s;
}

.projects-button:hover{
    background: #FF5F6D;
    color:white;
    box-shadow: 2px 2px black;
}

