.Project-container{
    background: rgb(32,56,100);
    background: linear-gradient(0deg, rgba(32,56,100,1) 22%, rgba(121,136,162,1) 61%, rgba(180,188,203,1) 78%, rgba(235,237,241,1) 91%, rgba(255,255,255,1) 100%);
}
.project-grid{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: center;

}
.projects-header{
    background: #203864;

    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:25px;
    color:white;
    text-decoration: underline;
}
@media only screen and (max-width: 1200px) {
    .project-grid{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 900px) {
    .project-grid{
        grid-template-columns: auto;
    }
}

.show{
    width: 115px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto 10px auto;
    background: white;
    border: white;
    cursor: pointer;
    border-radius: 10px;
}
.show:hover{
    background: #0c0032;
    color:white;
}
.show:hover .show-text{
    background: #0c0032;
    color:white;

}
