.work-experience {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #203864;
}
.title{
    color: white;
     margin: 30px 30px 0px 35px;
    font-size: 30px;
    text-decoration: underline;
    align-self: center;
}

.work{
    color: black;
}


.work-container{
    margin: 20px
}
