.project{
    background:  #05386B;
    width: 300px;
    height: 200px;
    padding: 15px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 3px 3px #379683;

    transition-duration: 0.5s,0.5s;
    transition-property: box-shadow,width;
    color:white;
    word-break: break-all;

}
.project:hover{
    box-shadow: 8px 8px #379683;
    width: 300px;
    height: 200px;

}
.upper{
    display: flex;
    flex-direction: column;

}

.header{
    font-weight: bold;
    position: relative;
}