.project {
    background: white;
    width: 350px;
    height: 250px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition-duration: 0.5s, 0.5s;
    transition-property: box-shadow, width;
    color: black;
    word-break: break-all;
    border: 1px solid black;
    box-shadow: 4px 2px #000;

}

.project:hover {
    box-shadow: 5px 5px #379683;

}

.upper {
    display: flex;
    flex-direction: column;

}

.header {
    font-weight: bold;
    position: relative;
    color: #FF5F6D;
}