.html{
    scroll-behavior: smooth;

}
.parag {
    text-align: center;
    margin: 0 15% 0 15%;
    font-weight: bolder;
    letter-spacing: 2px;
}


.frag {
    display: flex;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    flex-direction: column;
}

.bold {
    font-weight: bolder;
}