.html{
    scroll-behavior: smooth;
}

.parag {
    text-align: center;
    margin: 0 15% 0 15%;
    font-weight: bolder;
    letter-spacing: 2px;
}


.frag {
    font-family: 'Raleway', sans-serif;
}

.bold {
    font-weight: bolder;
}