.project-list-item{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px auto 20px auto;
    padding: 20px;
    background: #0c0032;
    width: 90%;
    box-shadow: 5px 5px #000;

    transition-duration: 0.5s,0.5s;
    transition-property: box-shadow,width;
}
.project-list-item:hover{
    box-shadow: 5px 5px #379683;
}
.project-list-item-name{
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: 2.3px -0.7px rgba(0, 0, 0, 0.31);

}

.project-list-item-description{
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.project-list-item-language{
    font-size: 12px;
    color: white;
    font-weight: 700;

}
