
.brandLogo {
    width: 10%;

}
.nav{
    display: flex;
    height: 30%;
    justify-content: center;
    background-color: 'transparent';
    color: white;
    border-bottom: 1px black;
}

#basic-nav-dropdown{
    color: white;
}

.basic-nav-dropdown{
    width: min-content;
}

.nav-color{
    color: white;
    font-weight:bolder;
}

.nav-center{
    justify-content: flex-end;
    font-size: large;
    color: #edf5e1;
}

nav.link{
    color:white;
}

.harsh{
    position: sticky;
    top:40%
}