.work-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px 0px 15px;
    padding: 0px 5px 0px 15px;

    font-weight: bolder;

    border-left : 2px solid white;
    height: 30px;

}

.work-place{
    color:white;
}