.background {
    color: #05386B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.content {
    color: #05386B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 150px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.about{
    display: flex;
    flex-direction: column;
    width: 100%;
}